:host {
  display: flex;
  flex-direction: column;
}

#edit-deck-order-dialog {
  // total dialog width
  width: 20%;

  // cant make dialog flex or it will always show
  & .container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    // card rows
    .row {
      display: flex;

      // push buttons to the right
      & span {
        flex-grow: 1;
      }
    }

    // make bottom buttons full width
    & .buttons {
      width: 100%;
      display: flex;
      gap: 0.2rem;

      & * {
        width: 100%;
      }
    }
  }
}
