@use "../../../variables";

.market {
  display: flex;
  gap: 0.25rem;

  & > * {
    // 5 in the row
    width: 20%;
    border: 1px dashed black;
    border-radius: variables.$corner-radius;

    &.clickable {
      &:hover {
        outline: 1px solid red;
        cursor: pointer;
      }
    }
  }
}
