@use "../../../variables";

.slot {
  margin: 0.5rem;
  border: 1px dashed black;
  height: calc(33.3vw*1.15); //TODO: make this one higher if stacked cards are overflowing. also fix this in general
  border-radius: variables.$corner-radius;
  position: relative;

  & > img {
    // fallback value. set through template
    --index: 0;

    width: 100%;
    height: 100%;
    border-radius: variables.$corner-radius;
    // stack cards on each other
    position: absolute;
    top: calc(var(--index) * #{variables.$stack-offset});
    z-index: var(--index);

    &.clickable {
      &:hover {
        outline: 1px solid red;
        cursor: pointer;
        // show hovered cards over other stacked ones (100 should suffice)
        z-index: 100;
      }
    }
  }
}
